[submodule "picojson"]
	path = picojson
	url = https://github.com/kazuho/picojson.git
[submodule "websocketpp"]
	path = websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "asio"]
	path = asio
	url = https://github.com/chriskohlhoff/asio.git
